<div class="nav">
  <div class="navbar-header"><%= link_to "Wikinimous", articles_path %></div>
  <div class="navbar-header"><%= link_to "New Article", new_article_path %></div>
</div>
<div class="container">
  <div class="row">
    <div id="article-list" class="col-sm-8 col-sm-offset-2">
      <h1>New article</h1>
      <%= form_for(@article) do |f| %>
        <div class="form-group">
          <strong><%= f.label :title %></strong>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <strong><%= f.label :content %></strong>
          <%= f.text_area :content, class: 'form-control' %>
        </div>

        <div class="input"><%= f.submit class: 'btn btn-default' %></div>
      <% end %>
      <div><%= link_to "Back", articles_path %></div>
    </div>
  </div>

