

<div class="nav">
  <div class="navbar-header"><%= link_to "Wikinimous", articles_path %></div>
  <div class="navbar-header"><%= link_to "New Article", new_article_path %></div>
</div>
<div class="container">
  <div class="row">
    <div id="article-list" class="col-sm-8 col-sm-offset-2">
      <div>
        <h1><%= @article.title %>
          <small id="smaller">
            <%= link_to article_path(@article), method: :delete, data: { confirm: "Do you want to delete #{@article.title}?" } do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
          </small>
          <small id="smaller">
          <%= link_to edit_article_path do %>
            <i class="fas fa-edit"></i>
          <% end %>
          </small>
        </h1>
      </div>
      <hr>
      <p><%= @article.content %></p>
    </div>
  </div>
</div>